<div class="page-header"><h1>Page not found</h1></div>

<div class="row-fluid">
    <div class="span12">
        <h2>{{ message }}</h2>
        <p>Try going back to the <a href="{{ url('home') }}">Homepage</a>.</p>
    </div>
</div>
