<section id="stats-today">
    <header>
        <h1>Today</h1>
    </header>
    <div class="row-fluid">
        <div class="span2">
            <div class="kpi">52</div>
            <div><small>peak listeners</small></div>
        </div>
        <div class="span2">
            <div class="kpi">14.7</div>
            <div><small>average listeners</small></div>
        </div>
        <div class="span2">
            <div class="kpi">2</div>
            <div><small>minimum listeners</small></div>
        </div>
        <div class="span2">
            <div class="kpi">19</div>
            <div><small>current listeners</small></div>
        </div>
    </div>
</section>

<section id="live">
    <header><h1>Listeners today</h1></header>
    <div id="live-listeners" style="height: 300px"></div>
</section>
